{% extends 'base_client.html.twig' %}
{% block title %}Détail Service{% endblock %}

{% block body %}
<div class="row g-4">
  <div class="col-md-6">
    {% if service.image %}
      <img src="{{ asset('uploads/services/' ~ service.image) }}"
           class="w-100 rounded hf-img" style="height:340px;" alt="service image">
    {% endif %}
  </div>

  <div class="col-md-6">
    <h1 class="mb-2">{{ service.titre }}</h1>
    <p class="text-muted">{{ service.categorie }} • {{ service.duree }} min</p>

    <p class="mb-3">{{ service.description }}</p>

    <div class="card p-3 mb-3">
      <div class="d-flex justify-content-between">
        <div>Prix</div>
        <div class="fw-bold fs-4">{{ service.prix }} DT</div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div>Coach</div>
        <div class="fw-bold">{{ service.coach.nom }}</div>
      </div>
    </div>

    <div class="d-flex gap-2">
      <a class="btn btn-success"
         href="{{ path('client_service_reserve', {id: service.id}) }}">
         Réserver
      </a>
      <a class="btn btn-outline-light"
         href="{{ path('client_services') }}">
         Retour
      </a>
    </div>
  </div>
</div>
{% endblock %}
