<body>

<nav>
  <a href="{{ path('client_services') }}">Services</a> |
  <a href="{{ path('client_coachs') }}">Coachs</a> |
  <a href="{{ path('client_products') }}">Produits</a>

  {% if app.user %}
    | <a href="{{ path('client_reservations') }}">Mes réservations</a>
    | <a href="{{ path('client_orders') }}">Mes commandes</a>
  {% else %}
    | <a href="{{ path('app_login') }}">Login</a>
    | <a href="{{ path('app_register') }}">Register</a>
  {% endif %}

  {% if is_granted('ROLE_ADMIN') %}
    | <a href="{{ path('admin_dashboard') }}">Admin</a>
  {% endif %}
</nav>

<hr>

{% block body %}{% endblock %}

</body>
